body {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.top-link, a, .subtext, .footer {
    color: #e5e7eb;
    font-size: 18px;
}

.top-header, .footer {
    background-color: #1f2937;
}

.top-link {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 48px;
}

.footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}