/* SECTION 1 */

body {
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top-header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 96px;
    padding: 18px 108px;
}

.top-left {
    font-weight: 800;
    color: #f9faf8;
    margin-right: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 36px;
    justify-content: end;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 90px 0;
    gap: 54px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 570px;
}

.hero-right > img {
    width: 570px;
    height: 300px;
}

.hero-right {
    display: flex;
}

.hero-text {
    color: #f9faf8;
    font-weight: 1000;
    font-size: 48px;
}

.button {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #3882f6;
    padding: 6px 30px;
    border-radius: 6px;
    color: white;
    font-weight: 800;
    border-style: none;
    margin: 12px 0;
    font-size: 18px;
}

/* SECTION 2 */

.random-info {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    gap: 60px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.random-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.subtext {
    color: #1f2937;
    flex-wrap: wrap;
    width: 180px;
    text-align: center;
}

.info > img {
    height: 180px;
    width: 180px;
    flex: 1 1 auto;
    border-radius: 18px;
    border: 4px solid #3882f6;
}


/* SECTION 3 */

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.top-quote {
    font-style: italic;
    font-size: 36px;    
    flex-wrap: wrap;
    width: 900px;
}

.bottom-quote {
    font-weight: bold;
    font-size: 30px;
    width: 900px;
    text-align: end;
}

/* SECTION 4 */

.action {
    background-color: #3882f6;
    color: #e5e7eb;
    width: max-content;
    display: flex;
    align-items: center;
    align-self: center;
    margin: 108px;
    gap: 90px;
    padding: 60px 120px;
    border-radius: 12px;
}

.top-action {
    font-weight: bold;
    font-size: 24px;
}

.light-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.below.button {
    border-color: white;
    border-style: solid;
}


/* FOOTER */
.footer {
    background-color: #1f2937;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
}
