body {
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}